.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px 45px;
  border-radius: 15px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  margin: 0 0 11px 0;
  max-width: 300px;
  font-family: "Muller", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: var(--white);
}

.price {
  display: flex;
  margin: 0 0 47px 0;
  font-family: "Muller", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--white);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkImg {
  display: flex;
}

.linkDesc {
  display: flex;
  margin: 0 5px 0 0;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--yellow);
}
