.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 258px);
  gap: 24px;
}

.cardSmallFirst {
  grid-column: 1;
  grid-row: 1;
}

.cardSmallSecond {
  grid-column: 1;
  grid-row: 2;
}

.cardBigFirst {
  grid-column: 2;
  grid-row: 1 / 3;
}
