.container {
  display: flex;
  align-items: center;
  margin: 0 0 27px 0;
  width: 100%;
}

.logo {
  margin: 0 35px 0 0;
}

.tel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-family: "Muller", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--darkGray);
  outline: 1px solid transparent;
  transition: all .3s ease;
}

.tel:hover {
  color: var(--yellow);
}

.tel:focus {
  color: var(--yellow);
  outline: 1px solid var(--yellow);
}

.tel:active {
  color: var(--golden);
}

.login {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 0 0 auto;
  outline: 1px solid transparent;
  transition: all .3s ease;
}

.loginImg {
  margin: 0 5px 0 0;
}

.loginImg svg path {
  transition: all .3s ease;
}

.loginDesc {
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--yellow);
  transition: all .3s ease;
}

.login:hover .loginImg svg path {
  fill: var(--orange);
}

.login:hover .loginDesc {
  color: var(--orange);
}

.login:focus {
  outline: 1px solid var(--yellow);
}

.login:focus .loginImg svg path {
  fill: var(--yellow);
}

.login:focus .loginDesc {
  fill: var(--yellow);
}

.login:active .loginImg svg path {
  fill: var(--yellow);
}

.login:active .loginDesc {
  color: var(--golden);
}
