.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border: 1px solid var(--yellow);
  border-radius: 10px;
  background-color: transparent;
  transition: all .3s ease;
}

.desc {
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--yellow);
  transition: all .3s ease;
}

.button:hover {
  background-color: var(--yellow);
}

.button:hover .desc {
  color: var(--white);
}

.button:focus {
  background-color: var(--yellow);
}

.button:focus .desc {
  color: var(--white);
}

.button:active {
  background-color: var(--golden);
}

.button:active .desc {
  color: var(--white);
}
